{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap/css/bootstrap.min.css' %}" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/fontawesome/css/all.min.css' %}">
    <!-- jquery-ui css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/jquery-ui/jquery-ui.min.css' %}">
    <!-- modal video css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/modal-video/modal-video.min.css' %}">
    <!-- light box css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/lightbox/dist/css/lightbox.min.css' %}">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendors/slick/slick-theme.css' %}">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css'%} ">
    <title>Travele | Travel & Tour HTML5 template </title>
</head>

<body>
    <div id="siteLoader" class="site-loader">
        <div class="preloader-content">
            <img src="{% static 'assets/images/loader1.gif' %}" alt="">
        </div>
    </div>
    <div id="page" class="full-page">
        <header id="masthead" class="site-header header-primary">
            <!-- header html start -->
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 d-none d-lg-block">
                            <div class="header-contact-info">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-phone-alt"></i> +01 (977) 2599 12</a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@Travel.com"><i class="fas fa-envelope"></i> company@domain.com</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i> 3146 Koontz Lane, California
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
                            <div class="header-social social-links">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="header-search-icon">
                                <button class="search-icon">
                              <i class="fas fa-search"></i>
                           </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-header">
                <div class="container d-flex justify-content-between align-items-center">
                    <div class="site-identity">
                        <p class="site-title">
                            <a href="index.html">
                                <img class="white-logo" src="{% static 'assets/images/travele-logo.png' %}" alt="logo">
                                <img class="black-logo" src="{% static 'assets/images/travele-logo1.png' %}" alt="logo">
                            </a>
                        </p>
                    </div>
                    <div class="main-navigation d-none d-lg-block">
                        <nav id="navigation" class="navigation">
                            <ul>
                                <li>
                                    <a href="index.html">HOME</a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">CITY</a>
                                    <ul>
                                        <li>
                                            <a href="destination.html">Đà Nẵng</a>
                                        </li>
                                        <li>
                                            <a href="tour-packages.html">Hồ Chí Minh</a>
                                        </li>
                                        <li>
                                            <a href="package-offer.html">Hà Nội</a>
                                        </li>
                                        <li>
                                            <a href="package-detail.html">Cần Thơ</a>
                                        </li>
                                        <li>
                                            <a href="tour-cart.html">Huế</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">MAP</a>
                                    <!-- <ul>
                                        <li>
                                            <a href="about.html">About</a>
                                        </li>
                                        <li>
                                            <a href="service.html">Service</a>
                                        </li>
                                        <li>
                                            <a href="career.html">Career</a>
                                        </li>
                                        <li>
                                            <a href="career-detail.html">Career Detail</a>
                                        </li>
                                        <li>
                                            <a href="tour-guide.html">Tour Guide</a>
                                        </li>
                                        <li>
                                            <a href="gallery.html">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="single-page.html">Single Page</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ Page</a>
                                        </li>
                                        <li>
                                            <a href="testimonial-page.html">Testimonial Page</a>
                                        </li>
                                        <li>
                                            <a href="popup.html">Popup</a>
                                        </li>
                                        <li>
                                            <a href="search-page.html">Search Page</a>
                                        </li>
                                        <li>
                                            <a href="404.html">404 Page</a>
                                        </li>
                                        <li>
                                            <a href="comming-soon.html">Comming Soon</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact</a>
                                        </li>
                                        <li>
                                            <a href="wishlist-page.html">Wishlist</a>
                                        </li>
                                    </ul> -->
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="single-page.html">REVIEW</a>
                                    <!-- <ul>
                                        <li>
                                            <a href="product-right.html">Shop Archive</a>
                                        </li>
                                        <li>
                                            <a href="product-detail.html">Shop Single</a>
                                        </li>
                                        <li>
                                            <a href="product-cart.html">Shop Cart</a>
                                        </li>
                                        <li>
                                            <a href="product-checkout.html">Shop Checkout</a>
                                        </li>
                                    </ul> -->
                                </li>


                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <div class="mobile-menu-container"></div>
        </header>
        <main id="content" class="site-main">
            <!-- Inner Banner html start-->
            <section class="inner-banner-wrap">
                <div class="inner-baner-container" style="background-image: url(assets/images/inner-banner.jpg);">
                    <div class="container">
                        <div class="inner-banner-content">
                            <h1 class="inner-title">TP. ĐÀ NẴNG</h1>
                        </div>
                    </div>
                </div>
                <div class="inner-shape"></div>
            </section>
            <!-- Inner Banner html end-->
            <div class="single-tour-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-tour-inner">
                                <h2>Bà Nà Hill</h2>
                                <div class="single-tour-gallery">
                                    <h3>Hình ảnh</h3>
                                    <div class="single-tour-slider">
                                        <div class="single-tour-item">
                                            <figure class="feature-image">
                                                <img src="{% static 'assets/images/img28.jpg'%}" alt="">
                                            </figure>
                                        </div>
                                        <div class="single-tour-item">
                                            <figure class="feature-image">
                                                <img src="{% static 'assets/images/img29.jpg'%}" alt="">
                                            </figure>
                                        </div>
                                        <div class="single-tour-item">
                                            <figure class="feature-image">
                                                <img src="{% static 'assets/images/img32.jpg'%}" alt="">
                                            </figure>
                                        </div>
                                        <div class="single-tour-item">
                                            <figure class="feature-image">
                                                <img src="{% static 'assets/images/img33.jpg'%}" alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-container">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Giới thiệu</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program" aria-selected="false">Địa điểm</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Bản đồ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Đánh giá</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                            <div class="overview-content">
                                                <p>Occaecat pariatur! Quaerat ligula, ab, consequuntur orci mus ultricies praesent aute blandit beatae nisl aut, totam mauris rhoncus? Tellus netus fringilla class auctor dui. Dolores excepteur, doloribus,
                                                    blanditiis aliquip nisl. Occaecat iusto? Provident sociis rerum. Amet, asperiores molestie varius eos! Libero, fermentum fermentum totam! Sunt praesentium, totam. Excepteur platea nisl. Convallis aliquam?
                                                    Iaculis erat ipsa molestie, quod, vestibulum reiciendis, maxime nostra, integer unde officiis quo integer unde officiis quo.</p>
                                                <p>Occaecat pariatur! Quaerat ligula, ab, consequuntur orci mus ultricies praesent aute blandit beatae nisl aut, totam mauris rhoncus? Tellus netus fringilla class auctor dui. Dolores excepteur, doloribus,
                                                    blanditiis aliquip nisl..</p>
                                                <ul>
                                                    <li>- Travel cancellation insurance</li>
                                                    <li>- Breakfast and dinner included</li>
                                                    <li>- Health care included</li>
                                                    <li>- Transfer to the airport and return to the agency</li>
                                                    <li>- Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="program" role="tabpanel" aria-labelledby="program-tab">
                                            <div class="itinerary-content">
                                                <h3>Program <span>( 4 days )</span></h3>
                                                <p>Dolores maiores dicta dolore. Natoque placeat libero sunt sagittis debitis? Egestas non non qui quos, semper aperiam lacinia eum nam! Pede beatae. Soluta, convallis irure accusamus voluptatum ornare saepe
                                                    cupidatat.
                                                </p>
                                            </div>
                                            <div class="itinerary-timeline-wrap">
                                                <ul>
                                                    <li>
                                                        <div class="timeline-content">
                                                            <div class="day-count">Day <span>1</span></div>
                                                            <h4>Ancient Rome Visit</h4>
                                                            <p>Nostra semper ultricies eu leo eros orci porta provident, fugit? Pariatur interdum assumenda, qui aliquip ipsa! Dictum natus potenti pretium.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="timeline-content">
                                                            <div class="day-count">Day <span>2</span></div>
                                                            <h4>Classic Rome Sightseeing</h4>
                                                            <p>Nostra semper ultricies eu leo eros orci porta provident, fugit? Pariatur interdum assumenda, qui aliquip ipsa! Dictum natus potenti pretium.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="timeline-content">
                                                            <div class="day-count">Day <span>3</span></div>
                                                            <h4>Vatican City Visit</h4>
                                                            <p>Nostra semper ultricies eu leo eros orci porta provident, fugit? Pariatur interdum assumenda, qui aliquip ipsa! Dictum natus potenti pretium.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="timeline-content">
                                                            <div class="day-count">Day <span>4</span></div>
                                                            <h4>Italian Food Tour</h4>
                                                            <p>Nostra semper ultricies eu leo eros orci porta provident, fugit? Pariatur interdum assumenda, qui aliquip ipsa! Dictum natus potenti pretium.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab">
                                            <div class="summary-review">
                                                <div class="review-score">
                                                    <span>4.9</span>
                                                </div>
                                                <div class="review-score-content">
                                                    <h3>
                                                        Excellent
                                                        <span>( Based on 24 reviews )</span>
                                                    </h3>
                                                    <p>Tincidunt iaculis pede mus lobortis hendrerit eveniet impedit aenean mauris qui, pharetra rem doloremque laboris euismod deserunt non, cupiditate, vestibulum.</p>
                                                </div>
                                            </div>
                                            <!-- review comment html -->
                                            <div class="comment-area">
                                                <h3 class="comment-title">3 Reviews</h3>
                                                <div class="comment-area-inner">
                                                    <ol>
                                                        <li>
                                                            <figure class="comment-thumb">
                                                                <img src="{% static 'assets/images/img20.jpg'%}" alt="">
                                                            </figure>
                                                            <div class="comment-content">
                                                                <div class="comment-header">
                                                                    <h5 class="author-name">Tom Sawyer</h5>
                                                                    <span class="post-on">Jana 10 2020</span>
                                                                    <div class="rating-wrap">
                                                                        <div class="rating-start" title="Rated 5 out of 5">
                                                                            <span style="width: 90%;"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                                <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <ol>
                                                                <li>
                                                                    <figure class="comment-thumb">
                                                                        <img src="{% static 'assets/images/img21.jpg'%}" alt="">
                                                                    </figure>
                                                                    <div class="comment-content">
                                                                        <div class="comment-header">
                                                                            <h5 class="author-name">John Doe</h5>
                                                                            <span class="post-on">Jana 10 2020</span>
                                                                            <div class="rating-wrap">
                                                                                <div class="rating-start" title="Rated 5 out of 5">
                                                                                    <span style="width: 90%"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                                        <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                    <ol>
                                                        <li>
                                                            <figure class="comment-thumb">
                                                                <img src="{% static 'assets/images/img22.jpg'%}" alt="">
                                                            </figure>
                                                            <div class="comment-content">
                                                                <div class="comment-header">
                                                                    <h5 class="author-name">Jaan Smith</h5>
                                                                    <span class="post-on">Jana 10 2020</span>
                                                                    <div class="rating-wrap">
                                                                        <div class="rating-start" title="Rated 5 out of 5">
                                                                            <span></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <p>Officia amet posuere voluptates, mollit montes eaque accusamus laboriosam quisque cupidatat dolor pariatur, pariatur auctor.</p>
                                                                <a href="#" class="reply"><i class="fas fa-reply"></i>Reply</a>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <div class="comment-form-wrap">
                                                    <h3 class="comment-title">Leave a Review</h3>
                                                    <form class="comment-form">
                                                        <div class="full-width rate-wrap">
                                                            <label>Your rating</label>
                                                            <div class="procduct-rate">
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <p>
                                                            <input type="text" name="name" placeholder="Name">
                                                        </p>
                                                        <p>
                                                            <input type="text" name="name" placeholder="Last name">
                                                        </p>
                                                        <p>
                                                            <input type="email" name="email" placeholder="Email">
                                                        </p>
                                                        <p>
                                                            <input type="text" name="subject" placeholder="Subject">
                                                        </p>
                                                        <p>
                                                            <textarea rows="6" placeholder="Your review"></textarea>
                                                        </p>
                                                        <p>
                                                            <input type="submit" name="submit" value="Submit">
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="map" role="tabpanel" aria-labelledby="map-tab">
                                            <div class="map-area">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60998820.06503915!2d95.3386452160086!3d-21.069765827214972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2b2bfd076787c5df%3A0x538267a1955b1352!2sAustralia!5e0!3m2!1sen!2snp!4v1579777829477!5m2!1sen!2snp"
                                                    height="450" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- subscribe html end -->
        </main>
        <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget_text">
                                <h3 class="widget-title">
                                    About Travel
                                </h3>
                                <div class="textwidget widget-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                </div>
                                <div class="award-img">
                                    <a href="#"><img src="{% static 'assets/images/logo6.png'%}" alt=""></a>
                                    <a href="#"><img src="{% static 'assets/images/logo2.png'%}" alt=""></a>
                                </div>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget_text">
                                <h3 class="widget-title">CONTACT INFORMATION</h3>
                                <div class="textwidget widget-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-phone-alt"></i> +01 (977) 2599 12
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-envelope"></i> company@domain.com
                                            </a>
                                        </li>
                                        <li>
                                            <i class="fas fa-map-marker-alt"></i> 3146 Koontz, California
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget_recent_post">
                                <h3 class="widget-title">Latest Post</h3>
                                <ul>
                                    <li>
                                        <h5>
                                            <a href="#">Life is a beautiful journey not a destination</a>
                                        </h5>
                                        <div class="entry-meta">
                                            <span class="post-on">
                                       <a href="#">August 17, 2021</a>
                                    </span>
                                            <span class="comments-link">
                                       <a href="#">No Comments</a>
                                    </span>
                                        </div>
                                    </li>
                                    <li>
                                        <h5>
                                            <a href="#">Take only memories, leave only footprints</a>
                                        </h5>
                                        <div class="entry-meta">
                                            <span class="post-on">
                                       <a href="#">August 17, 2021</a>
                                    </span>
                                            <span class="comments-link">
                                       <a href="#">No Comments</a>
                                    </span>
                                        </div>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget_newslatter">
                                <h3 class="widget-title">SUBSCRIBE US</h3>
                                <div class="widget-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                                <form class="newslatter-form">
                                    <input type="email" name="s" placeholder="Your Email..">
                                    <input type="submit" name="s" value="SUBSCRIBE NOW">
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttom-footer">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="footer-menu">
                                <ul>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Term & Condition</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="footer-logo">
                                <a href="#"><img src="{% static 'assets/images/travele-logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="copy-right text-right">Copyright © 2021 Travele. All rights reserveds</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
        </a>
        <!-- custom search field html -->
        <div class="header-search-form">
            <div class="container">
                <div class="header-search-container">
                    <form class="search-form" role="search" method="get">
                        <input type="text" name="s" placeholder="Enter your text...">
                    </form>
                    <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- header html end -->
    </div>

    <!-- JavaScript -->
    <script src="{% static 'assets/js/jquery.js'%}"></script>
    <script src="{% static 'http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js'%}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/vendors/jquery-ui/jquery-ui.min.js'%}"></script>
    <script src="{% static 'assets/vendors/countdown-date-loop-counter/loopcounter.js'%}"></script>
    <script src="{% static 'assets/js/jquery.counterup.js'%}"></script>
    <script src="{% static 'assets/vendors/modal-video/jquery-modal-video.min.js'%}"></script>
    <script src="{% static 'assets/vendors/masonry/masonry.pkgd.min.js'%}"></script>
    <script src="{% static 'assets/vendors/lightbox/dist/js/lightbox.min.js'%}"></script>
    <script src="{% static 'assets/vendors/slick/slick.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js'%}"></script>
    <script src="{% static 'assets/js/custom.min.js'%}"></script>
</body>

</html>